<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Artists:</strong>
  <%= @album.artists %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @album.cover %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<%= link_to 'Edit', edit_album_path(@album), class: "btn btn-default" %> |
<%= link_to 'Back', albums_path, class: "btn btn-default" %>
 
